body{
	background-color:black;
}


#background{
	background-image:url(../images/10001000/image1.jpg);
	background-repeat:no-repeat;
	background-position:center;
	position:absolute;
	width:1000px;
	height:1000px;
}

#perso{
	background-image:url(../images/images/Perso.png);
	background-repeat: no-repeat;
	filter: drop-shadow(5px 5px 3px black);
	position:absolute;
	width:100px;
	height:200px;
	top:750px;
	z-index:1;
}

#sol{
	background-image:url(../images/sol/sol.png);
	box-shadow:0px 5px 5px black;
	position:absolute;
	width:1000px;
	height:50px;
	top:950px
}

#plateforme{
	background-image:url(../images/sol/sol.png);
	box-shadow:5px 5px 5px black;
	position:absolute;
	width:500px;
	height:50px;
	left:250px;
	top:650px;
}

#tp2{
	background-image:url(../images/images/tp.png);
	filter: drop-shadow(5px 5px 10px black);
	position:absolute;
	width:50px;
	height:200px;
	top:450px;
	left:500px;
	z-index:0;
}
#tp1{
	background-image:url(../images/images/tp.png);
	filter: drop-shadow(5px 5px 10px black);
	position:absolute;
	width:50px;
	height:200px;
	top:750px;
	left:500px;
	z-index:0;
}

#goomba{
	background-image:url(../images/images/goomba.png);
	position:absolute;
	width:50px;
	height:50px;
	left:250px;
	top:900px;
}

#coffre1{
	position:absolute;
	width:50px;
	height:50px;
	top:600px;
	left:350px;
	background-image:url(../images/images/coffre.png);
	background-repeat:no-repeat;
	z-index:1;
}

#coffre2{
	position:absolute;
	width:50px;
	height:50px;
	top:600px;
	left:700px;
	background-image:url(../images/images/coffre.png);
	background-repeat:no-repeat;
}

#inventaire{
	background-color:white;
	position:absolute;
	left:1100px;
	top:100px;
	width:100px;
	height:500px;
	text-align:center;
}

#fromage{
	background-image:url(../images/images/fromage.png);
	position:absolute;
	width:50px;
	height:50px;
	left:350px;
	top:600px;
	z-index:0;
}


#anneau{
	background-image:url(../images/images/anneau.png);
	background-repeat:no-repeat;
	filter: drop-shadow(3px 3px 7px black);
	position:relative;
	z-index:1;
	width:50px;
	height:50px;
	top:5px;
	left:25px;
	opacity:0;
}
#souv{
	background-color: lightblue;
	width:150px;
	height: 50px;
	position: absolute;
	padding : 2%;
	text-align:center;
	border:2px solid white;
	left:1050px;
	top: 700px;
	z-index:0;
}

