body{
	background-color:black;
}

#background{
	position:absolute;
	background-color: black;
	background-image:url(../images/10001000/image5.jpg);
	background-repeat:no-repeat;
	background-position:center;
	width:1000px;
	height:1000px;
}

#perso{
	background-image:url(../images/images/Perso.png);
	background-repeat: no-repeat;
	filter: drop-shadow(5px 5px 3px black);
	position:absolute;
	width:100px;
	height:200px;
	top:750px;
	z-index:1;
}

#sol{
	position:absolute;
	background-image:url(../images/sol/sol.png);
	width:1000px;
	height:50px;
	top:950px
}

#plateforme{
	position:absolute;
	background-image:url(../images/sol/sol.png);
	width:500px;
	height:50px;
	left:250px;
	top:650px;
}

#tp1{
	background-image:url(../images/images/tp.png);
	filter: drop-shadow(5px 5px 10px black);
	position:absolute;
	width:50px;
	height:200px;
	top:750px;
	left:200px;
	z-index:0;
}
#tp2{
	background-image:url(../images/images/tp.png);
	filter: drop-shadow(5px 5px 10px black);
	position:absolute;
	width:50px;
	height:200px;
	top:450px;
	left:250px;
	z-index:0;
}
#tp3{
	background-image:url(../images/images/tp.png);
	filter: drop-shadow(5px 5px 10px black);
	position:absolute;
	width:50px;
	height:200px;
	top:450px;
	left:700px;
	z-index:0;
}
#tp4{
	background-image:url(../images/images/tp.png);
	filter: drop-shadow(5px 5px 10px black);
	position:absolute;
	width:50px;
	height:200px;
	top:750px;
	left:750px;
	z-index:0;
}


#fantome{
	background-image:url(../images/images/fantome.png);
	background-repeat: no-repeat;
	position:absolute;
	width:50px;
	height:50px;
	left:450px;
	top:600px;

}
#trou{
	position:absolute;
	width:250px;
	height:50px;
	left:350px;
	top:950px;
}

#inventaire{
	background-color:white;
	position:absolute;
	left:1100px;
	top:100px;
	width:100px;
	height:500px;
	text-align:center;
}
#anneau{
	background-image:url(../images/images/anneau.png);
	background-repeat:no-repeat;
	filter: drop-shadow(3px 3px 7px black);
	position:relative;
	z-index:1;
	width:50px;
	height:50px;
	top:5px;
	left:25px;
	opacity:0;
}
#fromage{
	background-image:url(../images/images/fromage.png);
	background-repeat:no-repeat;
	filter: drop-shadow(3px 3px 7px black);
	position:relative;
	z-index:1;
	width:50px;
	height:50px;
	top:5px;
	left:25px;
	opacity:0;
}
#souv{
	background-color: lightblue;
	width:150px;
	height: 50px;
	position: absolute;
	padding : 2%;
	text-align:center;
	border:2px solid white;
	left:1050px;
	top: 700px;
	z-index:0;
}
